$primary: rgb(11, 36, 59);
$secondary: rgb(126, 196, 133);
$dark: rgb(108, 139, 202);
$light: white;
$success: rgb(55, 91, 55);
$info: rgb(159, 159, 159);
$warning: rgb(241, 236, 122);
$danger: red;


@import '~bootstrap/scss/bootstrap.scss'
