.background-image{
    background-image: url("../navy-2.png");
    background-size: cover;
    background-size: cover; 
    background-position: center;
    background-repeat: repeat;
    height: 100vh; 

}