 background-image {
    background-image: url('../navy-2.png');
    background-size: cover;
    z-index: 1;
 }
  
 .overlay-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: "";
    position: absolute;
    top: 10;
    left: 10%;
    padding-bottom: 10%;
    width: 33%; 
    height: 100%;
    background-color: #5D9D67;
    opacity: 70%;
    z-index: 2; 
  }

  .non-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-bottom: 10%;
    top: 10;
    right: 0;
    height: 100%;
    width: 57%;
    z-index: 2;
  }

  .within-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    color: white;
  }

  h2 {
    justify-content: left;
  }

  #dropdown-employees{
    background-color: #06232C;
    color: white;
  }  

  .card {
    background-color: white;
    position: absolute;
    height: 60;
    width: 60;
    box-shadow: '1px 1px 20px white';
  }
  